.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Noteworthy";
  src: url("../fonts/Noteworthy-Bold.ttf");
  font-weight: 700;
}

body {
  overflow-x: hidden;
  background: #f6f6f6;
  color: #000000;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.n-mob {
  display: none;
}

.n-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0 0 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.47);
  background-color: #fff2fa;
  z-index: 8;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 12px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__call {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
    text-align: center;
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    color: #171717;
    font-size: 16px;
    font-weight: 700;

    img {
      display: inline-block;
      margin-right: 6px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #eb3696;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 9px 28px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    border-radius: 999rem;
    background-color: #eb3696;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ff7bc1;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;

    &-this {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 0;
      border-radius: 10px 10px 0 0;
      background-color: #f6e4ed;
      list-style: none;

      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 6px 10px;
          color: #181818;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;

          &:hover {
            background: rgba(255, 255, 255, 0.9);
            color: #eb3696;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__metro {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0 0 15px 0;
    list-style: none;

    li {
      display: inline-block;
    }

    &-card {
      display: inline-flex;
      align-items: flex-end;
      margin: 5px 2px;
      line-height: 0.6;
      color: #181818;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #eb3696;
        text-decoration: none;
      }

      img {
        display: inline-block;
        margin-right: 4px;
      }
    }
  }
}

.n-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  background: url('../images/bg_top.png') no-repeat center top -80px;

  &__welcome {
    display: block;
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 75px 0 95px 0;
  }

  &__title {
    display: block;
    margin: 0;
    color: #181818;
    font-family: 'Noteworthy';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.44;

    &_colored {
      color: #eb3696;
    }
  }

  &__subtitle {
    display: block;
    margin: 30px 0 0 0;
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 700;
  }
}

.n-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 100%;
  margin: 0 0 100px 0;

  &__main {
    display: block;
    width: 100%;
    max-width: 740px;
    min-height: 320px;
    padding: 30px 30px 50px 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.05);
    z-index: 1;
    cursor: pointer;
  }

  &__content {
    display: none;
    width: 100%;
    max-width: 850px;
    margin: -160px auto 0 auto;
    padding: 245px 70px 45px 70px;
    border-radius: 10px;
    border: 1px solid #eb3696;
    background-color: #ffffff;

    &_line {
      text-decoration: line-through;
      text-decoration-color: #eb3696;
    }

    p {
      display: block;
      margin: 0 0 20px 0;
      color: #171717;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;

      b,
      strong {
        font-size: 20px;
        font-weight: 700;
      }
    }

    ul {
      display: block;
      position: relative;
      margin: 0 0 35px 0;
      padding: 0 0 0 20px;
      list-style: none;
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;

      li {
        display: block;
        position: relative;
        margin: 0 0 8px 0;
        padding-left: 12px;

        &:before {
          display: block;
          position: absolute;
          content: '•';
          left: 0;
          top: 0;
          color: #eb3696;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    ol {
      display: block;
      margin: 0 0 20px;
      padding: 0;
      color: #171717;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
      list-style: none;
      counter-reset: my-awesome-counter;

      &>li {
        display: list-item;
        margin-bottom: 20px;
        padding-left: 0;
        counter-increment: my-awesome-counter;

        &:before {
          content: "0"counter(my-awesome-counter) ". ";
          color: #eb3696;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.88;
        }
      }
    }

    &-subtext {
      margin-bottom: 40px !important;
      color: #6c6c6c !important;
      font-size: 16px !important;
      font-weight: 300 !important;
    }

    &-info {
      color: #6c6c6c !important;
      font-size: 12px !important;

      &_colored {
        color: #eb3696;
        font-weight: 700;
      }
    }
  }

  &__arrow {
    display: block;
    position: relative;
    width: 78px;
    height: 17px;
    margin-left: 40px;
    background: url('../images/icon_arrow_long.png') no-repeat right center;
    filter: grayscale(1);
    opacity: 0.4;
    transition: all 0.2s ease-out;
  }

  &__number {
    display: block;
    opacity: 0.13;
    color: #eb3696;
    font-family: 'Noteworthy';
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    display: block;
    min-height: 144px;
    margin: -20px 0 30px 40px;
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.44;

    &_colored {
      display: inline;
      color: #eb3696;
    }
  }

  &__image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 390px;
    height: 390px;
    margin-top: -35px;
    border-radius: 999rem;
    background-color: #ffffff;
    z-index: 2;

    img {
      width: 320px;
      height: 320px;
      border-radius: 999rem;
      object-fit: cover;
    }
  }

  position: relative;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 413px;
    height: 310px;
    top: 0;
    left: 0;
    margin-left: -120px;
    margin-top: -25px;
    background: url('../images/before.png') no-repeat center;
    background-size: contain;
  }

  &_righted {
    align-items: flex-start;

    .n-card__main {
      padding: 30px 200px 30px 50px;
    }

    .n-card__image {
      left: auto;
      right: 0;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 413px;
      height: 310px;
      top: 0;
      left: auto;
      right: 0;
      margin-right: -120px;
      margin-top: -25px;
      background: url('../images/after.png') no-repeat center;
      background-size: contain;
    }
  }

  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover {
    .n-card__arrow {
      width: 335px;
      filter: none;
      opacity: 1;
    }

    text-decoration: none;
  }

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 9px 28px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    border-radius: 18px;
    background-color: #eb3696;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ff7bc1;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.n-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 65px 0;
  background: url('../images/footer_bg.png') no-repeat center;
  background-size: 100% 100%;

  &__logo {
    display: inline-block;
    margin-bottom: 18px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 6px 0;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
  }

  &__social {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin: 0 10px 10px 0;

        img {
          max-width: 40px;
          max-height: 40px;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(0.95);
          text-decoration: none;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 10px 0;
  }

  &__metro {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    color: #181818;
    font-size: 18px;
    font-weight: 700;

    img {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 12px;
      margin-top: -4px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ff7bc1;
      text-decoration: none;
    }
  }

  &__phone {
    display: inline-block;
    color: #181818;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #eb3696;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 7px 30px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    border-radius: 18px;
    background-color: #eb3696;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ff7bc1;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__link {
    display: block;
    color: #eb3696;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #eb3696;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 290px;
    margin: 0 15px 15px 15px;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        width: 130px;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 400;
        color: #eb3696;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;

        &:hover {
          color: #181818;
          text-decoration: none;
        }
      }
    }
  }
}

.n-step {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;

  &_show {
    width: 100% !important;
    height: auto !important;
    min-height: 80vh;
    padding: 80px 0 50px 0;
  }

  /* padding: 80px 0 50px 0; */
  &__wrapper {
    margin: 0;
    padding: 0;
  }

  &__one {
    transition: all 0.2s ease-out;
  }

  &__two {
    transition: all 0.2s ease-out;
  }

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #181818;
    font-family: 'Noteworthy';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.44;
    text-align: center;
  }

  &__metro {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;

    label {
      display: inline-block;
      margin: 0 15px 30px 15px;
      padding: 0;

      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        &:checked~.n-step__metro-card {
          border-color: #eb3696;
        }
      }
    }

    &-card {
      display: inline-flex;
      align-items: center;
      position: relative;
      padding: 17px 38px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
      border-radius: 999rem;
      border: 2px solid transparent;
      background-color: #ffffff;
      color: #181818;
      font-size: 18px;
      font-weight: 700;

      img {
        display: inline-block;
        max-width: 22px;
        max-height: 22px;
        margin-right: 7px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: #eb3696;
        text-decoration: none;
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 410px;
    margin: 0 auto;

    input {
      display: block;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 14px 7px;
      border-radius: 999rem;
      border: 1px solid #d2d2d2;
      outline: none;
      background-color: #ffffff;
      color: #181818;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #eb3696;
        text-decoration: none;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;

      input {
        max-width: 195px;
      }
    }

    &-info {
      display: block;
      margin: 30px 0 0 0;
      color: #7e7e7e;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }

    &-button {
      display: inline-block;
      margin: 20px 0 0 0;
      padding: 13px 36px;
      border: 0;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
      border-radius: 999rem;
      background-color: #eb3696;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ff7bc1;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 1200px) {
  .n-card:before {
    display: none;
  }

  .n-main {
    background: transparent;
  }

  .n-main__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.37;
    text-align: center;
  }

  .n-main__subtitle {
    margin-bottom: 26px;
    font-size: 14px;
    text-align: center;
  }

  .n-card__main {
    padding: 15px;
  }

  .n-card_righted .n-card__main {
    padding: 15px;
  }

  .n-card__image {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    margin: -150px auto 0 auto;
    padding: 20px;
  }

  .n-card__image img {
    width: 100%;
    height: 100%;
  }

  .n-card__title {
    min-height: auto;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;
    text-align: center;
  }

  .n-card__arrow {
    display: none;
  }

  .n-main__welcome {
    padding-bottom: 140px;
  }

  .n-card__content {
    margin-top: -20px;
    padding: 60px 20px 20px 20px;
  }

  .n-card {
    margin-bottom: 160px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .n-footer {
    padding: 40px 0 20px 0;
    background: #fae3ed;

    .col-lg-3,
    .col-lg-4,
    .col-lg-5 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
  }

  .n-footer__nav li a {
    text-align: left;
  }

  .n-footer__link {
    margin-bottom: 5px;
  }

  .n-step__title {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.35;

    br {
      display: none;
    }
  }

  .n-step_show {
    padding: 40px;
  }

  .n-step__form-row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    input {
      max-width: 100%;
    }
  }

  .n-step__metro-card {
    margin: 0 5px 20px 5px;
  }

  .n-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .n-header__nav-this {
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .n-header__logo {
    display: none;
  }

  .n-mob {
    display: block;
    position: relative;
    width: 100%;
    padding: 6px 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.47);
    background-color: #ffffff;
    z-index: 9;

    &>.container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
  }

  .n-header {
    display: none;
  }

  .n-main__welcome {
    padding-top: 40px;
  }
}